
.jack{
	background-color: #77A770;
	color: black;
	margin-top: -55px;
	margin-left: -20px;
}
.joe{
	padding-left: 350px;
	font-size: 40px;
}
.joe p{
	font-size: 23px;
	font-style: italic;
	padding-bottom: 10px;
}