
.what-we{
	margin-top: 650px;
	margin-left: -20px;
	text-align: center;
	background-color: #77A770;
	color: black;
}
#key-1{
	font-size: 23px;
	font-style: italic;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#key-2{
	padding-top: 30px;
	font-size: 40px;
}
.off-in{
	background-color: lightgrey;
	padding-left: 50px;
	padding-top: 50px;
	margin-left: -20px;
}
.hunt{
	background-color: #77A770;
	text-align: center;
	font-style: italic;
	margin-top: -34px;
	padding-bottom: 30px;
	margin-left: -20px;
}
.hunt h2{
	padding-top: 30px;
	font-size: 40px
}
.hunt p{
	font-size: 23px;
	padding: 20px 60px 20px 60px;
}
.app{
	margin-top: 35px;
	display: flex;
	margin-left: -20px;
}
#item2{
	background-color: lightgrey;
	text-align: center;
	font-style: italic;
}
#item2 p{
	font-size: 23px;
	padding: 20px 60px 20px 60px;
}

.mapouter{
	background-color: lightgrey;
	margin-top: 50px;
	padding-left: -20px
}
.mybutton{
	margin-bottom: 2;
	color: skyblue;
	size: large;
}

